{% extends 'app/base.html' %}

{% load static %}

{% block title %}
    Formulario para Agregar Producto
{% endblock title %}

{% block contenido %}

    {% load crispy_forms_tags %}
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Agregar Producto</h2>
                    <br>

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <hr>

                        <br>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Cancelar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" value="Guardar" id="btnGuardar" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                    {{mensaje}}                    
                </div>            
            </div>
        </div>
    </div>

    <br>
{% endblock contenido %}
    
    